*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}
.mainContainer{
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    opacity: 1;
    transition: 2s;
}

.mainContainer#bot{
    opacity: .6;
}

.mainContainer .option:hover{
    cursor: pointer;
}

.mainContainer#bot .option:hover{
    cursor: no-drop;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid #333;
    transition: 2s;
}

/*
.option#clicked::after{
    content: "";
    position: absolute;
    width: 40vh;
    height: 10px;
    background-color: violet;
}*/



.option i{
    font-size: 70px;
}

.option:first-child{
    background-color: rgb(255, 0, 0);
}

.option:nth-child(2){
    background-color: rgb(238, 255, 0);
}

.option:last-child{
    background-color: rgb(0, 218, 0);
}

#clicked{
    transition: 2s;    
    transform: scale(1.3);
}

#none{
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

.mainContainer#red{
    margin-bottom: -220px;
}

.mainContainer#green{
    margin-bottom: 220px;
}

.winMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 70px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width:500px){

    .winMsg{
        font-size: 50px;
        height: 175vh;

    }
}







